﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DashboardMenuTopMyReview.ascx.cs" Inherits="CoachV2.UserControl.DashboardMenuTop" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<telerik:RadButton ID="btn_AddNewReview" runat="server" Text="Add New Review"  Visible="false" OnClick = "btn_AddNewReview_onClick">

</telerik:RadButton>