﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DashboardTop.ascx.cs" Inherits="CoachV2.UserControl.DashboardTop" %>

<div class="panel menuheadercustom">
    <div>
        &nbsp;<span class="glyphicon glyphicon-dashboard"></span>Coaching Dashboard<span><asp:Label
            ID="Label1" runat="server" Text=""></asp:Label></span><span class="breadcrumb2ndlevel"><asp:Label
      ID="Label2" runat="server" Text=""></asp:Label></span>
     </div>
</div>
